@use "./variables" as *;
@use "./mixins" as *;

body {
  margin: 0;
  color: $color-text;
  background: $color-bg;
  line-height: $line-height-base;
  font-size: 16px;
}

.container {
  @include container;
}

.text-muted {
  color: $color-muted;
}

.border-base {
  border-color: $color-border;
}
